In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from math import sqrt

In [23]:
df = pd.read_csv(r'.\Lec1\lec1\housing.csv')

In [16]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [24]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [25]:
df.describe

<bound method NDFrame.describe of         CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT  MEDV
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]>

In [26]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('MEDV', axis = 1), 
                                                    df.MEDV, 
                                                    test_size = 0.2, 
                                                    random_state = 1904)

In [30]:
X_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
435,11.16040,0.0,18.10,0.0,0.740,6.629,94.6,2.1247,24.0,666.0,20.2,109.85,23.27
361,3.83684,0.0,18.10,0.0,0.770,6.251,91.1,2.2955,24.0,666.0,20.2,350.65,14.19
444,12.80230,0.0,18.10,0.0,0.740,5.854,96.6,1.8956,24.0,666.0,20.2,240.52,23.79
346,0.06162,0.0,4.39,0.0,0.442,5.898,52.3,8.0136,3.0,352.0,18.8,364.61,12.67
470,4.34879,0.0,18.10,0.0,0.580,6.167,84.0,3.0334,24.0,666.0,20.2,396.90,16.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,0.61470,0.0,6.20,0.0,0.507,6.618,80.8,3.2721,8.0,307.0,17.4,396.90,7.60
400,25.04610,0.0,18.10,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77
226,0.38214,0.0,6.20,0.0,0.504,8.040,86.5,3.2157,8.0,307.0,17.4,387.38,3.13
23,0.98843,0.0,8.14,0.0,0.538,5.813,100.0,4.0952,4.0,307.0,21.0,394.54,19.88
449,7.52601,0.0,18.10,0.0,0.713,6.417,98.3,2.1850,24.0,666.0,20.2,304.21,19.31

In [31]:
X_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
30,1.13081,0.0,8.14,0.0,0.538,5.713,94.1,4.2330,4.0,307.0,21.0,360.17,22.60
153,2.14918,0.0,19.58,0.0,0.871,5.709,98.5,1.6232,5.0,403.0,14.7,261.95,15.79
459,6.80117,0.0,18.10,0.0,0.713,6.081,84.4,2.7175,24.0,666.0,20.2,396.90,14.70
70,0.08826,0.0,10.81,0.0,0.413,6.417,6.6,5.2873,4.0,305.0,19.2,383.73,6.72
139,0.54452,0.0,21.89,0.0,0.624,6.151,97.9,1.6687,4.0,437.0,21.2,396.90,18.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.04666,80.0,1.52,0.0,0.404,7.107,36.6,7.3090,2.0,329.0,12.6,354.31,8.61
74,0.07896,0.0,12.83,0.0,0.437,6.273,6.0,4.2515,5.0,398.0,18.7,394.92,6.78
417,25.94060,0.0,18.10,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
96,0.11504,0.0,2.89,0.0,0.445,6.163,69.6,3.4952,2.0,276.0,18.0,391.83,11.34

In [32]:
y_train

435    13.4
361    19.9
444    10.8
346    17.2
470    19.9
       ...
223    30.1
400     5.6
226    37.6
23     14.5
449    13.0
Name: MEDV, Length: 404, dtype: float64

In [33]:
y_test

30     12.7
153    19.4
459    20.0
70     24.2
139    17.8
       ...
197    30.3
74     24.1
417    10.4
503    23.9
96     21.4
Name: MEDV, Length: 102, dtype: float64

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)
train_pred_medv = model.predict(X_train) 
test_pred_medv = model.predict(X_test)

In [35]:
train_pred_medv

array([14.38863194, 18.80472354, 11.75214151, 15.25627636, 19.3788946 ,
       19.33964634, 17.42959557, 15.64798093, 17.6921636 , 17.6199213 ,
       12.00280435, 26.56749138, 20.59332477, 32.99303227, 32.73673293,
       24.44873889,  6.18036501, 24.15778561, 16.44599082, 28.59187013,
       18.49588699,  9.51141142, 35.16082909, 24.54055083, 18.29627732,
       35.1206039 , 19.97334655, 20.59012838, 24.91518274, 15.0053206 ,
       20.3177364 , 27.15688647, 23.87857246, 22.7101349 , 15.89802812,
       13.3855974 , 20.40523352, 41.94159305, 15.25979825, 18.11547799,
       24.54124933, 16.93700661, 26.73132198, 35.21937278, 25.57348672,
       17.44478138, 14.86291658, 16.38865694, 27.83511463, 37.06403922,
       15.67733096, 17.7522585 , 30.94788013, 14.16258847, 18.99768688,
       22.33656308, 36.07201153, 40.2103432 , 22.46236918, 23.36135564,
       24.10881295, 22.62414186, 15.55119718, 20.38861862,  9.97882109,
       23.39504103, 23.41274398, 15.82931598, 28.73186951, 19.14355916,
       20.56037175, 32.34359178, 21.76728625, 25.811081  ,  5.27622097,
       25.59075753, 18.36454865, 21.41590775, 19.96561005, 12.15728149,
       30.83665139, 17.83271767, 17.91381329, 41.7811882 , 28.56055243,
       30.82947307, 21.97750893, 23.80056785, 27.26795171, 22.8913984 ,
       16.03233668, 16.16554451, 25.43221029, 22.46502612, 31.9205644 ,
       16.39510825, 25.21268016, 27.39666095, 14.83150993,  6.60175956,
        6.58668962, 13.12151247, 37.79286596, 16.38335423, 19.65162481,
       16.98887254, 12.42200037, 19.33891351, 32.66514438,  7.66641632,
       13.43702552,  1.82758743, 28.61268016, 28.68593223, 26.11795583,
       17.979017  , 21.14807064, 19.35976707, 13.86644536, 22.46787589,
       19.55545683,  6.17120428, 25.50362246, 18.80119345, 13.98597151,
       31.359364  , 27.45687823, 20.49363574, 18.54673896, 29.63367489,
       29.74670522, 17.21611247, 35.45884478, 28.91799665, 21.42836517,
       28.49106827, 26.1591148 , 21.73738795, 36.95961519, 34.33043477,
       24.29488353, 20.63919468, 28.51442527, 17.21632517, 17.31170001,
       33.5083566 , 31.11156999, 10.96886536, 22.23604261, 24.35291511,
       21.48663833, 22.01395219, 37.78957135, 23.11225863, 22.63236435,
       26.90576761, 28.54846292, 32.59614708, 28.35992086, 17.09619902,
       19.44361623, 20.69412147, -3.92961259, 24.94350314, 15.30535435,
       22.75453931, 35.41738129, 11.35441278, 12.70602505, 16.29452209,
       41.79953581, 33.09750152, 13.96989228, 16.77453806, 22.01848903,
       26.40486951, 29.65111583, 17.9986695 , 22.50757732, 21.76128004,
       24.47041748,  7.18406941,  4.21618373, 36.55624145, 37.51751977,
       30.02430657, 25.00481177, 18.28126495, 24.97096689, 20.02139873,
       23.78360287, 24.38963638, 26.68366147, 18.16307006, 33.20767987,
       20.53348285,  9.18333876, 16.82519516, 18.90415226, 28.3996676 ,
       19.0850826 , 31.108768  , 32.05084515, 21.30454968, 14.43683416,
       36.88493241, 23.09546926, 19.42254717, 24.99739212, 17.58488799,
       22.28393669, 18.96226034, 36.03710066, 13.46197595, 12.10249425,
       17.62515252, 18.31507376, 13.61704667, 40.8391504 , 31.57506092,
       22.20411263, 44.40257615, 28.77106011, 26.25676461, 12.83780257,
       35.41891657, 26.61463574, 22.78941154, 33.83075165, 43.01953042,
       20.95359926, 20.11015787, 19.673197  , 24.41426441, 19.76361918,
       22.55259053, 20.41147431, 31.51194034, 24.38857588, 25.48313837,
       21.5871471 , 24.92912063, 26.80305074, 18.20646876, 32.48151441,
       15.43488749, 15.59461809, 21.84704438, 25.42557232, 20.67986559,
       10.00738086, 14.85146087, 26.48214232, 19.7878693 , 15.00745316,
       30.97072414, 13.89829355, 12.67070016, 31.99546186, 23.59769946,
       28.94759612, 22.29834364, 18.86792683, 16.97740908, 16.43796984,
       23.41715651, 14.59966787, 19.36228089, 15.86706328, 22.05469906,
       33.30326013, 10.71614188, 13.54872218, 22.0575695 , 26.21676729,
       30.41854761, 23.16144718, 10.65166798, 19.26035085,  5.92607971,
       35.69735744, 36.27864183, 19.8485881 , 17.95790698, 37.62537293,
       15.0638261 , 24.11453393, 15.79392815, 19.96896371, 21.26550068,
       16.47253292, 25.1407597 , 21.42215276, 40.52798217, 23.17762071,
       23.27335839, 30.4573946 , 32.58908109, 33.86416397, 19.60837466,
       14.02518979,  2.76689143, 38.84489621, 19.46589163,  3.72368946,
       23.42623615, 12.21956048, 26.5406056 ,  9.6588951 , 34.71778895,
       20.03259163, 24.87249115, 31.32071126, 22.36265255, 18.89670602,
       20.82185589, 22.9804922 , 20.64054704, 21.27831597, 24.54542258,
       19.68432976, 27.67166431,  8.09029608, 14.09515852, 22.98269054,
        7.58079996, 25.21262474, 24.32382789, 17.26134156, 26.77691613,
       31.22481984, 12.50541223, 31.71481577, 13.92830647, 22.20382908,
       21.40184979,  9.63990835, 20.62989057, 24.73245319, 21.33843258,
       42.0121453 , 32.75675739, 36.30152191, 20.94115627, 19.03219743,
       14.52059102, 30.14707859, 16.37411026, 21.58274457, 25.0739868 ,
       23.54252382, 20.5875216 , 23.84905353, 13.51338574, 33.40934176,
       11.03269152, 15.13416099, 27.17726673, 24.1817645 , 30.7631404 ,
       31.92670383, 18.37723965, 31.04560511, 24.97481661, 25.65289441,
       14.76181894, 28.35986984, 30.78967666, 13.22499923, 25.71135228,
       34.47857441, 29.15685988, 34.15833837, 29.04348245, 24.733606  ,
       24.96992797, 20.00556068, 24.5539109 , 24.13812388, 27.46381631,
       21.94996599, 17.14114753, 27.38466782, 19.37146723, 33.93126026,
       21.74733004, 20.52964958, 31.96346913, 16.56370921,  9.37277512,
       23.78942317, 20.35711252, 28.51991343, 28.61230289, 28.78825735,
       19.26453273, 10.90966105, 17.29210638, 35.26714708, 29.54933974,
       11.62999735, 37.87967052, 13.99788287, 17.28648973])

In [36]:
test_pred_medv

array([ 1.18770633e+01,  1.83991535e+01,  1.80632010e+01,  2.53245006e+01,
        1.65332445e+01,  2.74708145e+01,  2.31315516e+01,  1.98466323e+01,
        3.08418621e+01,  1.36983324e+01,  3.97556474e+01,  1.96554023e+01,
        1.98966501e+01,  2.87181763e+01, -2.78494588e-02,  1.44601125e+01,
        3.07832258e+01,  1.63127688e+01,  2.53915118e+01,  2.81478861e+01,
        2.74907528e+01,  2.15017934e+01,  2.49578335e+01,  1.76947754e+01,
        3.29438138e+01,  3.86352066e+01,  2.18702147e+01,  2.00516087e+01,
        3.91236779e+01,  1.74686137e+01,  2.12173451e+01,  2.00437557e+01,
        2.14856310e+01,  3.51125465e+01,  1.83006583e+01,  2.45263264e+01,
        1.76169980e+01,  2.06375648e+01,  2.06657039e+01,  2.09488741e+01,
        1.74641307e+01,  5.19523517e+00,  1.62892392e+01,  1.82831799e+01,
        1.72088500e+01,  2.30127575e+01,  2.51766662e+01,  5.57517327e+00,
        2.17723725e+01,  1.07801756e+01,  2.17159035e+01,  1.88887113e+01,
        2.13272142e+01,  2.04718738e+01,  3.52624145e+01,  1.45771408e+01,
        2.58931222e+01,  2.00355068e+01,  2.78775770e+01,  1.58835632e+01,
        3.29501824e+01,  2.26980142e+01,  2.27170534e+01,  1.82881823e+01,
        2.77045546e+01,  4.02456908e+01,  3.71752536e+01,  2.02472971e+01,
        2.85781764e+01,  2.55571932e+01,  3.04847453e+01,  1.93965851e+01,
        1.67095567e+01,  1.46646057e+01,  3.11270601e+01,  2.18801617e+01,
        1.31375487e+01,  1.77101400e+01,  2.24329962e+01,  3.29949258e+01,
        2.54342590e+01,  2.07362186e+01,  1.71766330e+01,  2.27476285e+01,
        1.93392856e+01,  1.55612793e+01,  2.83227453e+01,  2.22867299e+01,
        3.01513090e+01,  1.38117247e+01,  1.73684441e+01,  4.42261704e+01,
        2.38510127e+01,  2.00189911e+01,  2.35023990e+01,  1.76307938e+01,
        2.39045916e+01,  3.28108956e+01,  2.53802788e+01,  7.07733132e+00,
        2.77614847e+01,  2.46415871e+01])

In [38]:
print ('Error MSE Train =', sqrt(mean_squared_error(y_train, train_pred_medv)))

print ('Error MSE Test =', sqrt(mean_squared_error(y_test, test_pred_medv)))

Error MSE Train = 4.6405235766692945
Error MSE Test = 4.963483639334013